@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(dark,.dark *));

@theme {
  --font-primary: "Courier New", monospace;
  --color-primary: #ffff00;
  --color-dark: #555500;
  --color-bg: #4e342e;
  --color-bg2: #271a17;
  --color-normalbg: #99a1af;
  --color-darkbg: #4f535a;
  --color-border: #4e342e;
}